.shop {
  font-family: 'Libre Barcode 39 Text', cursive;
  color: #ffcc00;
  font-size: 60px;
}
#shop-button {
  background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: default;
    outline: inherit !important;

}

body {
  margin: 0;
  font-family: monospace;
  background-color: black;
  overflow: hidden;
  /*background: url(../img/holo2.jpg) no-repeat center center fixed; 
  -webkit-background-size: center-fill;
  -moz-background-size: center-fill;
  -o-background-size: center-fill;
  background-size: center-fill;
  */
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: default;
}

.container, .center-fill {
	width: 100vw;
	height: 100vh;
  overflow: hidden;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.center-wide {
  position: absolute;
  width: 100vw;
  height: 32vh;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top-wide {
  position: absolute;
  width: 100vw;
  height: 15vh;
  top: 20px;
  left: 0%;
}

.bottom-wide {
  position: absolute;
  width: 100vw;
  height: 15vh;
  bottom: 20px;
  left: 0%;
}

.main-logo {
  height: 100%;
  float: left;
}

.main-logo path {
  fill: #ff6600;
}

canvas, .canvas-bg {
  display: block;
  width: 50vw;
  height: 50vw;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*-webkit-filter: blur(1px);*/
	box-shadow: 0px 0px 3px 3px #000;
	z-index: 8
}

#c2{
	z-index: 1;
}

#b {
position: absolute;
top: 10px;
width: 100%;
text-align: center;
z-index: 6;
}

.hidden {
    transition: visibility 2s, opacity 2s;
    visibility: hidden;
    opacity: 0;
}

.shown {
    transition: visibility 2s, opacity 2s;
    visibility: visible;
    opacity: 1;
}

.white-bar {
	width: 300vh;
	height: 1vh;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: translateX(-7%) rotate(-45deg);
    background-color: black;
    z-index: 5;
	position: absolute;
	top: 0%;
	left: 0%;
}